/* exsite um css default nas paginas html
o selector <hr> foi construido com as propriedades existentes por default
no nosso browser e depois alteradas:
https://www.w3schools.com/cssref/css_default_values.asp

por exemplo o selector <hr> tem estas:

display: block;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: auto;
margin-right: auto;
border-style: inset;
border-width: 1px;

*/

body {
    background-color: rgb(194, 194, 243);
    /* text-align: center;*/
}

h1 {
    color: rgba(69, 44, 114, .7);

}

h3 {
    color: #f7f2e7;
}

h5 {
    position: relative;
    bottom: 5px;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 100%;
}

.fundo {
    background-color: rgb(194, 194, 243);
}

.circular {
    border-radius: 100%;
}

.logo1 {
    position: relative;
    display: inline-block;
}

.logo2 {
    position: absolute;
    top: 20px;
    left: 400px;

}

.logo3 {
    /* position: relative;
    top: 5px;
    left: 50px; */

}
.logo4{
    position: absolute;
    top: 470px;
    left: 168px;

}

.logo5 {
    position: absolute;
    top: 300px;
    left: 300px;

}

.logo6 {
    position: relative;
    top: 4px;
}

.logo7 {
    /* position: relative;
    top: 8px; */

    display: inline-block;
}

 .curriculum {
    display: inline-block;
    width: 100px;
    height: 10px;
    padding: 5px;
    border: 1px solid blue;
    background-color: #cad5eb;
}

.contact {
    display: inline-block;
    width: 100px;
    height: 10px;
    padding: 5px;
    border: 1px solid blue;
    background-color: #cad5eb;
}
.registo {
    display: inline-block;
    width: 100px;
    height: 10px;
    padding: 5px;
    border: 1px solid blue;
    background-color: #cad5eb;
} 
p{
    display: inline-block;
}